/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
   body {
	   background:url(../images/bg1.png) repeat;
	   font-family:Arial, Helvetica, sans-serif;
   }
   
   p {
	   color:#fefefe;
	   font-size:0.8em;
   }
   
   header {
	   background:#fafafa;
	   overflow:hidden;
   }
   
   header img {
	   padding:2em;
	   float:left;
   }
   
   header #social {
	   float:right;
   }
   
   header #social img {
	   padding:2em 0.5em;
   }
   
   nav {
	   background:#1B1B1B;
	   border-top:#25b0f1 solid 5px;
	   overflow:hidden;
   }
   
   nav select {
	   display:none;
   }
   
   nav ul {
	   list-style:none;
	   width:100%;
	   padding:0;
	   margin:0;
   }
   
   nav li {
	   float:left;
   }
   
   nav a {
	   display:block;
	   padding:0.8em 1.5em;
	   text-decoration:none;
	   text-transform:lowercase;
	   color:#25b0f1;
   }
   
   nav a:hover {
	   background:#2A2A2A;
	   color:#FF8922;
   }
   
   footer {
	   background:#D9D9D9;
	   border-top:#FF8922 solid 3px;
	   margin-top:1em;
   }
   
   footer p {
	   color:#1E1E1E;
	   text-align:center;
	   font-weight:bold;
   }

/* =============================================================================
   Page Styles
   ========================================================================== */
   
   section h2 {
	   color:#fefefe;
	   border-bottom:#25b0f1 solid 1px;
   }
   
   section li {
	   color:#fefefe;
	   font-size:0.7em;
   }
   
   article li {
	   list-style:none;
   }
   
   article h2 {
	   color:#fefefe;
	   border-bottom:#25b0f1 solid 1px;
   }
   
   article h3 {
	   color:#fefefe;
	   margin-bottom:0.2em;
	   font-weight:100;
   }
   
   article h4 {
	   color:#25b0f1;
	   margin:0;
	   width:15%;
	   padding-bottom:0.4em;
	   font-size:0.7em;
	   font-weight:100;
   }
   
   article a {
	   text-decoration:none;
	   color:#FF8922;
   }
   
   .news_post {
		padding-bottom:1em;
		border-bottom:#25b0f1 dotted 1px;
   }
   
   label {
		color:#fefefe;
		font-size:0.8em;
		display:block;
		padding:1em 0;
   }
   
   input {
		display:block;
		border: 1px solid #999;
		height: 25px;
   }
   
   textarea#feedback {
		width:375px;
		height:150px;
		display:block;
   }
   
   input.button {
		width:100px;
		right:20px;
		bottom:20px;
		background:#25b0f1;
		color:#fff;
		height:30px;
	}
	
	input.button:hover {
		background:#212121;
		color:#FF8922;
	}
	
	.no_pad {
		padding:0;
	}
	
	.sidebar ul {
		border-bottom:#25b0f1 dotted 1px;
		padding-bottom:0.9em;
	}
	
	.sidebar .lastpost {
		border-bottom:none;
	}
	
	.sidebar h3, p, a {
		margin:0 0 0.2em 0;
	}
	
	.sidebar h3 {
		font-size:1.0em;
		font-weight:bold;
	}
	
	.sidebar a {
		font-size:0.6em;
	}
	
	.list1 li {
		list-style-type:square;
		font-size:0.75em;
	}
	
	.headroom {
		padding-top:0.6em;
	}
	
	footer p {
		padding:1.2em 0;
	}

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
		article h2 {
			font-size:1.2em;
		}
	}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
		nav a {
			padding:0.8em 0.5em;
		}
		
		#promo {
			display:none;
		}
		
		#social {
			display:none;
		}
		
		#details {
			display:none;		
		}
	}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
		nav ul {
			display:none;
		}
		
		nav select {
			display:inline-block;
			width:100%;
		}
	}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/