@charset "utf-8";
/* CSS Document */

body {
	padding:0;
	margin:0;
	background:#1c1c1c;
}

#wrapper {
	width:1020px;
	margin:0 auto;
}

#header {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#fefefe;
}

#header h1 {
	float:left;
}

#header h2, h3 {
	text-align:right;
}

#images {
}